# fastapi
# uvicorn
# python-multipart
# sentence-transformers
# faiss-cpu
# PyMuPDF
# python-docx
# python-dotenv
# google-generativeai

fastapi
uvicorn
python-multipart
sentence-transformers==2.2.2
huggingface_hub==0.17.3
torch
scikit-learn
PyMuPDF
python-docx
python-dotenv
google-generativeai

